## TYPO3 v6.2
# Ignore several upload and file directories.
/fileadmin
/uploads/
# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
/typo3conf/deprecation_*.log
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/realurl_autoconf.php
/FIRST_INSTALL
# Ignore system folders, you should have them symlinked.
# If not comment out the following entries.
/typo3
/typo3_src
/typo3_src-*
/Packages
/.htaccess
/index.php
# Ignore temp directory.
/typo3temp/
/nerdpraxis.sql
/www_bak/
/dump/myDB.sql
/dump/nerdpraxis_typo3_10.sql
/www/vendor/
/www/var/
/www/_.htpasswd
/www/public/typo3conf/AdditionalConfiguration.php
/www/public/typo3conf/LocalConfiguration.php
/www/ext/nerdpraxis/.Build/
/www/ext/nerdpraxis/Configuration/ExtensionBuilder/
/www/ext/gridelements/
/www/ext/webp/
/www/ext/nerdpraxis/Resources/Public/node_modules/
/www/public/typo3conf/AdditionalConfiguration.php
/www/public/typo3conf/LocalConfiguration.php
