<div class="container">
	<div class="row">
		<div class="col-6 mt-5 mb-5 feature-box">
			<h2>Coding is necessary</h2>
			<p>At vero eos et accusam et justo duo dolores
				et ea rebum. Stet clita kasd gubergren, no sea <b>takimata</b> sanctus <b>est</b> Lorem ipsum dolor
				<b>sit</b> amet.</p>
			<ul>
				<li>Lorem ipsum dolor sit amet,</li>
				<li>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna,</li>
				<li>sed diam voluptua</li>
			</ul>
			<p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
			<br><br>
			<p><a href="#" class="bn5">Do it now!</a></p>
		</div>
		<div class="col-6 d-flex align-items-center justify-content-center ps-10">
			<div class="justify-content-center align-items-center">
				<figure class="responsive-image">
					<img src="typo3conf/ext/nerdpraxis/Resources/Public/images/stock/coding_2.jpg" width="300" height="auto">
				</figure>
			</div>
		</div>
	</div>
</div>
