#back-top {
 position: fixed;
 bottom: 0px;
 right: 10px;
 z-index: 999;
 margin: 0;
 a {
	background: none !important;
	width: 45px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	text-shadow: 0px 1px 4px #333;
 }
}

#back-top span {
 width: 45px;
 height: 45px;
 display: block;
 margin-bottom: 7px;
 -webkit-transition: 2s;
 -moz-transition: 2s;
 transition: 2s;
}

#back-top span i {
 font: normal normal normal 18px/1 FontAwesome;
 width: 45px;
 height: 45px;
 position: relative;
 display: block;
 top: 0px;
 left: -10px;
}
