$spacer: 1rem / 2;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 80 {
 $spacers: map-merge(
						 $spacers,
						 (
									 $i: (
												 $i * $spacer,
									 ),
						 )
 );
}

.px-0 {
 padding-left: 0 !important;
 padding-right: 0 !important;
}

.pt-0 {
 padding-top: 0 !important;
}
.pb-0 {
 padding-bottom: 0 !important;
}
.ps-0 {
 padding-left: 0 !important;
}
.pe-0 {
 padding-right: 0 !important;
}

.mx-0 {
 margin-left: 0 !important;
 margin-right: 0 !important;
}
.my-0 {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}
.mt-0 {
 margin-top: 0 !important;
}
.mb-0 {
 margin-bottom: 0 !important;
}
.ms-0 {
 margin-top: 0 !important;
}
.me-0 {
 margin-right: 0 !important;
}
