@font-face {
	font-family: "Open Sans";
	font-weight: Normal;
	font-style: Normal;
	font-display: block;
	src: local('Open Sans'),
	url('typo3conf/ext/nerdpraxis/Resources/Public/fonts/OpenSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
