.font-primary {
 color: $primary-color;
}
.font-secondary {
 color: $secondary-color;
}
.font-terziary {
 color: $terziary-color;
}
.font-grey {
 color: $grey;
}
.font-grey-dark {
 color: $grey-dark;
}
.font-grey-light {
 color: $grey-light;
}
.font-white{
 color: #FFF;
}
